@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/ocean.webp') no-repeat center center fixed;
    background-size: cover;
    color: #004d40;
}

header {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px 0;
}

#hamburger-menu {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    color: #ffffff !important;
}

#game-promo {
    text-align: center;
    margin-top: 50px;
}

#game-promo a {
    background-color: #007c91;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
}

#game-promo a:hover {
    background-color: #004d40;
}

#mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #007c91;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: display 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#mobile-nav.open {
    display: flex;
    transform: translateX(-50%) translateY(10px);
}

#mobile-nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

#mobile-nav a:hover {
    background-color: rgba(0, 51, 46, 0.2);
}

@media (max-width: 768px) {
    #hamburger-menu {
        display: block;
        color: #ffffff !important;
    }

    #mobile-nav {
        display: none;
    }
}

main {
    padding: 2em;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    animation: fadeIn 1s ease-in-out;
}

.container h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #007c91;
    animation: slideInFromLeft 1s ease-in-out;
}

.container p, .container li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #004d40;
    line-height: 1.6;
}

img.inline, .concept-logo, .mission-logo, .vision-logo, .value-proposition-logo, .brand-narrative-logo, .how-we-make-it-happen-logo {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-image, .game-image {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

footer p {
    background-color: #007c91;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-icon {
    width: 45px;
    height: 45px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.larger-social-icon {
    width: 67.5px;
    height: 67.5px;
}

.larger-social-icon-1-2 {
    width: 54px;
    height: 54px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007c91;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#back-to-top:hover {
    background-color: #004d40;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1.5s infinite;
}

.game-section {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 2em;
    animation: pulse 1.5s infinite;
}

.game-section h2 {
    font-size: 2.5em;
    color: #007c91;
    animation: slideInFromLeft 1s ease-in-out;
}

.game-section p a {
    color: #1976d2;
    font-weight: bold;
    text-decoration: underline;
    animation: fadeIn 2s ease-in-out;
}
